# 决策树

运用决策树算法对泰坦尼克（titanic）数据集进行分类。

In [2]:
# 获取并查看数据集合
import pandas as pd
titanic = pd.read_csv("http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt")
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [3]:
# 使用pandas，数据都传入pandas独有的dataframe格式（二维数据表格），直接使用info()，用于查看统计特性
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [4]:
# 预处理数据集
x = titanic[['pclass', 'age', 'sex']]
y = titanic['survived']

In [5]:
# 查看当前特征
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       633 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.8+ KB

In [6]:
# age属性值有部分缺失的现象
# 对缺失数据进行补全
x['age'].fillna(x['age'].mean(), inplace=True)  # inpalce=True返回新对象
# 查看处理好的数据
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       1313 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.8+ KB

D:\Coolixz\Anaconda3\envs\python2\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [7]:
# 观察真实数据
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [8]:
# 划分测试集/训练集
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=33)

In [17]:
# 对集合中的非数值型数据进行处理
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False)  # sparse为稀疏矩阵
x_train_ = vec.fit_transform(x_train.to_dict(orient='record'))  # 注意这种to_dict写法
x_test_ = vec.transform(x_test.to_dict(orient='record'))
print vec.feature_names_
# 转换特征后，凡是非数值型的特征都被单独剥离出来，单独列成一列特征，数值型数据保持不变

['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'sex=female', 'sex=male']

In [24]:
x_train.to_dict(orient='record')[:10]  # 注意这种to_dict写法

[{'age': 31.19418104265403, 'pclass': '3rd', 'sex': 'male'},
 {'age': 31.19418104265403, 'pclass': '1st', 'sex': 'female'},
 {'age': 31.19418104265403, 'pclass': '3rd', 'sex': 'male'},
 {'age': 32.0, 'pclass': '3rd', 'sex': 'male'},
 {'age': 31.19418104265403, 'pclass': '3rd', 'sex': 'male'},
 {'age': 41.0, 'pclass': '2nd', 'sex': 'male'},
 {'age': 48.0, 'pclass': '2nd', 'sex': 'female'},
 {'age': 26.0, 'pclass': '3rd', 'sex': 'male'},
 {'age': 19.0, 'pclass': '3rd', 'sex': 'male'},
 {'age': 31.19418104265403, 'pclass': '2nd', 'sex': 'male'}]

In [26]:
# 应用决策树模型
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_train_, y_train)
y_predict = dtc.predict(x_test_)

In [27]:
# 模型得分
from sklearn.metrics import classification_report
print "Accuracy:", dtc.score(x_test_, y_test)
print classification_report(y_test, y_predict, target_names=['died', 'survived'])

Accuracy: 0.781155015198
             precision    recall  f1-score   support

       died       0.78      0.91      0.84       202
   survived       0.80      0.58      0.67       127

avg / total       0.78      0.78      0.77       329

**特点分析：**相比于其它学习模型，决策树在模型描述上有着巨大的优势。决策树的逻辑推断非常直观，具有清晰的可解释性，也方便了模型的可视化。决策树属于有参数模型，需要花费更多的时间在训练数据上。